<div class="container">
  <nav>
      <ul class="nav">
        <li><%= link_to 'Home', pages_landing_page_path %></li>
        <li><%= link_to 'Reviews', reviews_path %></li>
        <li><%= link_to 'Blog', articles_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'All Products', products_path %></li>
      </ul>
    </nav>
    <a href="landing_page" id="landing"><img src="http://localhost:3000/images/medusalogo.jpg" alt="logo"></a>
</div>    