<div class="container">

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><strong>Name:</strong></th>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @product.description %></td>
  </tr>
  <tr>
    <th><strong>Image url:</strong></th>
    <td><%= @product.image_url %></td>
  </tr>
   <tr>
    <th><strong>Price:</strong></th>
    <td><%= @product.price %></td>
  </tr>
</table>

<br>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<hr>

<%= form_tag('/payments/create', :id => 'stripe_checkout_button', remote: true) do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <input type="hidden"  name="amount" value="<%= @product.price %>"/>
<% end %>

<script>
$(document).ready ->
  $("#stripe_checkout_button").on("ajax:success", (e, data, status, xhr) ->
    $("#stripe_checkout_button").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error) ->
    $("#stripe_checkout_button").append "<p>ERROR</p>"
</script>
<hr>

</div>
